
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper function to check for Admin role
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    // Products can be read by anyone, but only created/modified by the seller or an admin.
    match /products/{productId} {
      allow read: if true;
      allow create: if request.auth != null && request.resource.data.sellerId == request.auth.uid;
      allow update, delete: if request.auth != null && (resource.data.sellerId == request.auth.uid || isAdmin());
    }

    // Sellers profiles can be read by anyone.
    // A user can create their own seller profile during registration.
    // A user can update their own profile, or an admin can update any profile.
    match /sellers/{userId} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && (request.auth.uid == userId || isAdmin());
      // Deletion should only be done by an admin from the dashboard
      allow delete: if isAdmin();
    }

    // Buyers can be read by anyone, but only managed by admins.
    match /buyers/{buyerId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
    
    // Quote requests can be created by anyone. Only admins can read them all.
    match /quote-requests/{requestId} {
      allow read: if isAdmin();
      allow create: if true;
    }

    // Admins collection can only be accessed by other admins.
    match /admins/{adminId} {
        allow read, write: if isAdmin();
    }
  }
}
